/* ---------------------------------------------------------------------------- */
/*                      header */
/* ---------------------------------------------------------------------------- */
.header-frame {
    width: 100%;
    height: 60px;

    background: rgba(236, 234, 222, 0.4);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    width: 50px;
    height: 50px;

    position: relative;
    right: 80px;
}
.header-links {
    display: flex;
    gap: 30px;

    position: relative;
    left: 80px;
}
.header-links-link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-out;

    font-family: "Roboto";
}

.header-links-link:hover {
    color: blue;
}
/* ---------------------------------------------------------------------------- */
/*                      main */
/* ---------------------------------------------------------------------------- */
.main-frame {
    width: 100%;

    background-color: #ece7e4;

    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
}
.main-frame-credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: flex-start;

    position: relative;
    left: 10px;
    margin: 20px 0;

    background: white;
    border-radius: 10px;

    padding: 20px 10px;
}
.main-frame-credentials-profile {
    width: 40px;
    height: 40px;
}
.main-frame-credentials * {
    font-family: "Roboto";
}
.main-frame-credentials-info {
    display: flex;
    flex-direction: column;
}
.main-frame-credentials-header {
    font-size: 20px;
}
.main-frame-tasks {
    width: 70%;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    font-family: "Roboto";
    padding: 20px 10px;
    margin: 20px 0;

    border-radius: 10px;
}
.main-frame-tasks-header {
    font-size: 20px;
}
.main-frame-tasks-single {
    width: 90%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    outline: 3px solid white;
    border-radius: 10px;

    background: rgb(241, 241, 241);

    padding: 20px 10px;
}
.main-frame-tasks-single > span:nth-child(1) {
    font-size: 40px;
    text-align: center;
}
.main-frame-tasks-single-button {
    height: 35px;
    outline: 3px solid black;
    border-radius: 3px;
    font-family: "Roboto";

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    background: none;
    background: rgb(241, 241, 241);
}
.main-frame-tasks-single-button > img {
    width: 20px;
    height: 20px;
}
/* ---------------------------------------------------------------------------- */
/*                      footer */
/* ---------------------------------------------------------------------------- */
.footer-frame {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(236, 234, 222, 0.4);

    font-family: "Roboto";

    padding: 5px 0;
}
.footer-frame a {
    text-decoration: none;
    color: black;
}
.footer-frame * {
    margin: 0 20px;
}
/* ---------------------------------------------------------------------------- */
/*                      Медиа-запросы */
/* ---------------------------------------------------------------------------- */
@media (max-width: 960px) {
    .main-frame {
        flex-direction: column;
        gap: 0px;
    }
    .main-frame-credentials {
        width: 40%;
        left: 0;
        align-self: center;
    }
}
@media (max-width: 650px) {
    /* ---------------------------------------------------------------------------- */
    /*                                  hamburger menu */
    /* ---------------------------------------------------------------------------- */
    header {
        display: none;
    }
    .off-screen-menu {
        display: flex;
    }

    nav.container {
        display: flex;
    }
}
